/**************/
/* CSS REMEDY */
/**************/
@font-face {
	font-family: "Porsche Next";
	font-weight: 400;
	font-style: normal;
	src: url(/fonts/Porsche-Next-Regular.otf) format("opentype");
}
  
  @font-face {
	font-family: "Porsche Next";
	font-weight: 700;
	font-style: normal;
	src: url(/fonts/Porsche-Next-Bold.otf) format("opentype");
}

*, *::after, *::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
}

img {
	width: 100%;
}

.container {
	margin: 0 2em;
}

.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}





/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	hyphens: auto;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;

	font-family: "Porsche Next","Arial Narrow",sans-serif;

	--color-black-text: #000000;
	--color-white-text: #FFFFFF;
	--color-background: #FFFFFF;
}





/****************/
/* JOUW STYLING */
/****************/
/********** HEADER **********/
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: var(--color-background);
	padding: 1em 2em;
}

header section {
	display: flex;
	align-items: center;
}

header > section:nth-of-type(1) {
	flex: 2;
}

header > section:nth-of-type(2) {
	flex: 1;
	justify-content: center;
}

header > section:nth-of-type(3) {
    flex: 2;
    justify-content: end;
}

header > section:nth-of-type(1) img, header > section:nth-of-type(3) img {
	width: 1.5em;
}

header img {
	width: auto;
	max-width: 2.5em;
}

header p {
    margin-left: 0.5em;
    color: var(--color-black-text);
}


/********** HERO **********/
/* Bron: https://codepen.io/shooft/pen/yLKjzWa */
.heroCarrousel {
	--heroCarrouselMainColor: #c8cacb;
	--heroCarrouselAccentColor: #d5001c;
	position: relative;
	outline: none;
}

@media (prefers-color-scheme: dark) {
  .heroCarrousel {
    --heroCarrouselMainColor:#c8cacb;
    --heroCarrouselAccentColor:#d5001c;
  }
}

.heroCarrousel > ul {
	list-style: none;
	display: flex;
	overflow: hidden;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch; /* voor iOS*/
	-ms-overflow-style: none; /* voor IE */
	scrollbar-width: none; /* voor Firefox */
}

.heroCarrousel > ul::-webkit-scrollbar {
	display: none; /* voor Chrome, Safari en Edge*/
}

.heroCarrousel > ul li {
	flex-basis: 100%;
	flex-shrink: 0;
	scroll-snap-align: center;
}

.heroCarrousel > ul li > img {
	display: block;
	width: 100%;
	height: 64vh;
	object-position: center center;
	object-fit: cover;
}

.heroCarrousel nav ul {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: auto;
	margin: 0 auto;
	padding: 1em 0;
	text-align: center;
	overflow: hidden;
	display: flex;
	justify-content: center;
	gap: 1em;
	list-style: none;
}

.heroCarrousel > nav li {
	aspect-ratio: 1 / 1;
}

.heroCarrousel > nav a {
	display: block;
	width: 0.5em;
	height: 0.5em;
	text-decoration: none;
	color: var(--heroCarrouselAccentColor);
	background-color: var(--heroCarrouselMainColor);
	border-radius: 50%;
	outline: none;
	transition: 0.5s;
}

.heroCarrousel > nav a:hover,
.heroCarrousel > nav a:focus {
	color: var(--heroCarrouselAccentColor);
}

.heroCarrousel > nav a.current {
	background-color: currentColor;
}

.hero-text {
	position: absolute;
	color: var(--color-white-text);
	text-align: left;
	z-index: 1;
}

#porsche-taycan-gts .hero-text, #porsche-911-carrera-t .hero-text, #porsche-all-electric-macan .hero-text, #porsche-taycan .hero-text {
	left: 2em;
	bottom: 3em;
}

#porsche-panamera .hero-text {
	left: 2em;
	top: 3em;
}


/********** MODELLEN **********/
.home-pagina > section:nth-of-type(2) section {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.home-pagina > section:nth-of-type(2) section a {
	position: relative;
	overflow: hidden;
}

.home-pagina > section:nth-of-type(2) section a img {
	display: block;
	height: auto;
	object-fit: cover;
	object-position: center center;
}

.home-pagina > section:nth-of-type(2) section a h3 {
	position: absolute;
	bottom: 1rem;
	left: 1rem;
	color: var(--color-white-text);
}


/* Actueel */
.home-pagina > section:nth-of-type(3) ul {
	list-style: none;
}

.home-pagina > section:nth-of-type(3) img {
	height: 20em;
	object-position: center;
	object-fit: cover;
}

/* Footer */
/* footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
} */